#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#mainnavbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #000;
  position: relative;
}

#main-navbar ul li {
  position: relative;
  display: block;
  padding: 10px 20px;
}

#navbar-container {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100%;
}

#navbar-container ul li a {
  text-decoration: none;
}

#navbar-container ul li a:hover {
  text-decoration: underline overline;
}

#onpage {
  color: #fff;
}

#sidebar {
  background-color: red;
  position: fixed;
  right: 0%;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}
