.main-navbar {
  list-styletype: none;
  background-color: blue;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  float: left;
}

.navbar-container ul {
  left: 50%
  float: left;
  position: relative;
  display: block;
}
  
 .navbar-container ul li a {
  right: 50%;
  position: relative;
  float: left;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
 }

  .navbar-container ul li a:hover {
  background-color: blue;
}
  
  .onpage {
  text-decoration: underline overline;
}

.sidebar {
  background-color: red;
  position: fixed;
  right: 0%;
  height: 100%;
  width: 20%;
}

.sidebar-container {
}

